/* colour theme for CRG domain*/
.theme_buttons .btn-crg {
    color: white;
    background-color: #ab86b1;
    border-color: #ab86b1;
    margin-top: 5px;
}

.theme_buttons .btn-crg.focus,
.theme_buttons .btn-crg:focus,
.theme_buttons .btn-crg:hover {
    color: white;
    background-color: #562061;
    border-color: #562061
}

.theme_buttons .btn-crg:not(:disabled):not(.disabled).active,
.theme_buttons .btn-crg:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-crg.dropdown-toggle {
    color: white;
    background-color: #562061;
    border-color: #562061
}

.theme_buttons .btn-crg-sub {
    color: #562061;
    background-color: white;
    border-color: #562061;
    border-width: 3px;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-width: 220px;
    min-height: 60px;
}

.theme_buttons .btn-crg-sub.focus,
.theme_buttons .btn-crg-sub:focus,
.theme_buttons .btn-crg-sub:hover {
    color: white;
    background-color: #562061;
    border-color: #562061
}

.theme_buttons .btn-crg-sub:not(:disabled):not(.disabled).active,
.theme_buttons .btn-crg-sub:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-crg-sub.dropdown-toggle {
    color: white;
    background-color: #562061;
    border-color: #562061
}

.crg-dropdown .Select-control {
    background-color: #562061;
    color: white;
}

.crg-dropdown .Select-menu-outer {
    color: #562061;
}

.crg-dropdown .Select-value-label {
    color: white !important;
}


/* colour theme for HAN domain*/

.theme_buttons .btn-han {
    color: white;
    background-color: #8cb99a;
    border-color: #8cb99a;
}

.theme_buttons .btn-han.focus,
.theme_buttons .btn-han:focus,
.theme_buttons .btn-han:hover {
    color: white;
    background-color: #3e7c49;
    border-color: #3e7c49
}

.theme_buttons .btn-han:not(:disabled):not(.disabled).active,
.theme_buttons .btn-han:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-han.dropdown-toggle {
    color: white;
    background-color: #3e7c49;
    border-color: #3e7c49
}

.theme_buttons .btn-han-sub {
    color: #3e7c49;
    background-color: white;
    border-color: #3e7c49;
    border-style: solid;
    border-width: 3px;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-width: 270px;
    min-height: 60px;
}

.theme_buttons .btn-han-sub.focus,
.theme_buttons .btn-han-sub:focus,
.theme_buttons .btn-han-sub:hover {
    color: white;
    background-color: #3e7c49;
    border-color: #3e7c49
}

.theme_buttons .btn-han-sub:not(:disabled):not(.disabled).active,
.theme_buttons .btn-han-sub:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-han-sub.dropdown-toggle {
    color: white;
    background-color: #3e7c49;
    border-color: #3e7c49
}

.han-dropdown .Select-control {
    background-color: #3e7c49;
    color: white;
}

.han-dropdown .Select-menu-outer {
    color: #3e7c49;
}

.han-dropdown .Select-value-label {
    color: white !important;
}

/* colour theme for POV domain*/

.theme_buttons .btn-pov {
    color: white;
    background-color: #7fcdef;
    border-color: #7fcdef;
}

.theme_buttons .btn-pov.focus,
.theme_buttons .btn-pov:focus,
.theme_buttons .btn-pov:hover {
    color: white;
    background-color: #4c8cbb;
    border-color: #4c8cbb
}

.theme_buttons .btn-pov:not(:disabled):not(.disabled).active,
.theme_buttons .btn-pov:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-pov.dropdown-toggle {
    color: white;
    background-color: #4c8cbb;
    border-color: #4c8cbb
}

.theme_buttons .btn-pov-sub {
    color: #4c8cbb;
    background-color: white;
    border-color: #4c8cbb;
    border-width: 3px;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-width: 350px;
}

.theme_buttons .btn-pov-sub.focus,
.theme_buttons .btn-pov-sub:focus,
.theme_buttons .btn-pov-sub:hover {
    color: white;
    background-color: #4c8cbb;
    border-color: #4c8cbb
}

.theme_buttons .btn-pov-sub:not(:disabled):not(.disabled).active,
.theme_buttons .btn-pov-sub:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-pov-sub.dropdown-toggle {
    color: white;
    background-color: #4c8cbb;
    border-color: #4c8cbb
}

.pov-dropdown .Select-control {
    background-color: #4c8cbb;
    color: white;
}

.pov-dropdown .Select-menu-outer {
    color: #4c8cbb;
}

.pov-dropdown .Select-value-label {
    color: white !important;
}


/* colour theme for EDU domain*/

.theme_buttons .btn-edu {
    color: white;
    background-color: #7e9acd;
    border-color: #7e9acd;
}

.theme_buttons .btn-edu.focus,
.theme_buttons .btn-edu:focus,
.theme_buttons .btn-edu:hover {
    color: white;
    background-color: #37568f;
    border-color: #37568f
}

.theme_buttons .btn-edu:not(:disabled):not(.disabled).active,
.theme_buttons .btn-edu:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-edu.dropdown-toggle {
    color: white;
    background-color: #37568f;
    border-color: #37568f
}

.theme_buttons .btn-edu-sub {
    color: #37568f;
    background-color: white;
    border-color: #37568f;
    border-width: 3px;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-width: 300px;
}

.theme_buttons .btn-edu-sub.focus,
.theme_buttons .btn-edu-sub:focus,
.theme_buttons .btn-edu-sub:hover {
    color: white;
    background-color: #37568f;
    border-color: #37568f
}

.theme_buttons .btn-edu-sub:not(:disabled):not(.disabled).active,
.theme_buttons .btn-edu-sub:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-edu-sub.dropdown-toggle {
    color: white;
    background-color: #37568f;
    border-color: #37568f
}

.edu-dropdown .Select-control {
    background-color: #37568f;
    color: white;
}

.edu-dropdown .Select-menu-outer {
    color: #37568f;
}

.edu-dropdown .Select-value-label {
    color: white !important;
}

/* colour theme for CHP domain*/

.theme_buttons .btn-chp {
    color: #5A5A5A;
    background-color: #eeca8b;
    border-color: #eeca8b;
}

.theme_buttons .btn-chp.focus,
.theme_buttons .btn-chp:focus,
.theme_buttons .btn-chp:hover {
    color: #5A5A5A;
    background-color: #e5ae4c;
    border-color: #e5ae4c
}

.theme_buttons .btn-chp:not(:disabled):not(.disabled).active,
.theme_buttons .btn-chp:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-chp.dropdown-toggle {
    color: #5A5A5A;
    background-color: #e5ae4c;
    border-color: #e5ae4c
}

.theme_buttons .btn-chp-sub {
    color: #e5ae4c;
    background-color: white;
    border-color: #e5ae4c;
    border-width: 3px;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-width: 220px;
}

.theme_buttons .btn-chp-sub.focus,
.theme_buttons .btn-chp-sub:focus,
.theme_buttons .btn-chp-sub:hover {
    color: #5A5A5A;
    background-color: #e5ae4c;
    border-color: #e5ae4c
}

.theme_buttons .btn-chp-sub:not(:disabled):not(.disabled).active,
.theme_buttons .btn-chp-sub:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-chp-sub.dropdown-toggle {
    color: #5A5A5A;
    background-color: #e5ae4c;
    border-color: #e5ae4c
}

.chp-dropdown .Select-control {
    background-color: #e5ae4c;
    color: #5A5A5A;
}

.chp-dropdown .Select-menu-outer {
    color: #e5ae4c;
}

.chp-dropdown .Select-value-label {
    color: #5A5A5A !important;
}


/* colour theme for PAR domain*/

.theme_buttons .btn-par {
    color: white;
    background-color: #ca8ca4;
    border-color: #ca8ca4;
}

.theme_buttons .btn-par.focus,
.theme_buttons .btn-par:focus,
.theme_buttons .btn-par:hover {
    color: white;
    background-color: #861c3f;
    border-color: #861c3f
}

.theme_buttons .btn-par:not(:disabled):not(.disabled).active,
.theme_buttons .btn-par:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-par.dropdown-toggle {
    color: white;
    background-color: #861c3f;
    border-color: #861c3f
}

.theme_buttons .btn-par-sub {
    color: #861c3f;
    background-color: white;
    border-color: #861c3f;
    border-width: 3px;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-width: 350px;
}

.theme_buttons .btn-par-sub.focus,
.theme_buttons .btn-par-sub:focus,
.theme_buttons .btn-par-sub:hover {
    color: white;
    background-color: #861c3f;
    border-color: #861c3f
}

.theme_buttons .btn-par-sub:not(:disabled):not(.disabled).active,
.theme_buttons .btn-par-sub:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-par-sub.dropdown-toggle {
    color: white;
    background-color: #861c3f;
    border-color: #861c3f
}

.par-dropdown .Select-control {
    background-color: #861c3f;
    color: white;
}

.par-dropdown .Select-menu-outer {
    color: #861c3f;
}

.par-dropdown .Select-value-label {
    color: white !important;
}


/* colour theme for CCI domain*/

.theme_buttons .btn-cci {
    color: white;
    background-color: #f39a77;
    border-color: #f39a77;
}

.theme_buttons .btn-cci.focus,
.theme_buttons .btn-cci:focus,
.theme_buttons .btn-cci:hover {
    color: white;
    background-color: #ec5e24;
    border-color: #ec5e24
}

.theme_buttons .btn-cci:not(:disabled):not(.disabled).active,
.theme_buttons .btn-cci:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-cci.dropdown-toggle {
    color: white;
    background-color: #ec5e24;
    border-color: #ec5e24
}

.theme_buttons .btn-cci-sub {
    color: #ec5e24;
    background-color: white;
    border-color: #ec5e24;
    border-width: 3px;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-width: 220px;
}

.theme_buttons .btn-cci-sub.focus,
.theme_buttons .btn-cci-sub:focus,
.theme_buttons .btn-cci-sub:hover {
    color: white;
    background-color: #ec5e24;
    border-color: #ec5e24
}

.theme_buttons .btn-cci-sub:not(:disabled):not(.disabled).active,
.theme_buttons .btn-cci-sub:not(:disabled):not(.disabled):active,
.theme_buttons .show>.btn-cci-sub.dropdown-toggle {
    color: white;
    background-color: #ec5e24;
    border-color: #ec5e24
}

.cci-dropdown .Select-control {
    background-color: #ec5e24;
    color: white;
}

.cci-dropdown .Select-menu-outer {
    color: #ec5e24;
}

.cci-dropdown .Select-value-label {
    color: white !important;
}

/* Blue header style for enabling environment accordion item  */
.crc-accordion.accordion-item:nth-child(1) .accordion-button {
    color: #4e79a7;
    border: 1px solid #4e79a7;
    box-shadow: none;
}

/* Background color for the enabling environment accordion item when active (expanded) */
.has-bootstrap .crc-accordion.accordion-item:nth-child(1) .accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: 5px 5px 10px #4e79a7;
}

/* Orange header style for supply accordion item */
.has-bootstrap .crc-accordion.accordion-item:nth-child(2) .accordion-button {
    color: #f38e2c;
    border: 1px solid #f38e2c;
    box-shadow: none
}

/* Background color for the supply accordion item when active (expanded) */
.has-bootstrap .crc-accordion.accordion-item:nth-child(2) .accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: 5px 5px 10px #f38e2c;
}

/* Red header style for demand accordion item */
.crc-accordion.accordion-item:nth-child(3) .accordion-button {
    color: #e15759;
    border: 1px solid #e15759;
    box-shadow: none;
}

/* Background color for the demand accordion item when active (expanded) */
.has-bootstrap .crc-accordion.accordion-item:nth-child(3) .accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: 5px 5px 10px #e15759;
}

/* colour theme for navigation buttons*/

.nav-btn {
    color: #374EA2 !important;
    background-color: white !important;
    border-color: #374EA2 !important;
    border-width: 2px !important;
    display: block;
    width: 250px;
}

.nav-btn.focus,
.nav-btn:focus,
.nav-btn:hover {
    color: white !important;
    background-color: #374EA2 !important;
    border-color: #374EA2 !important;
}

.nav-btn:not(:disabled):not(.disabled).active,
.nav-btn:not(:disabled):not(.disabled):active,
.show>.nav-btn.dropdown-toggle {
    color: white !important;
    background-color: #374EA2 !important;
    border-color: #374EA2 !important;
}